<html>
    <head>
        <title>Ninja Gold</title>
    </head>
    <body>
        <p>Your Gold:</p>
        <div class="find">
            <h2>Farm</h2>
            <p>(earns 10-20 gold)</p>
            <form action="">
                <input type="hidden" name="farm" id="farm">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="find">
            <h2>Cave</h2>
            <p>(earns 5-10 gold)</p>
            <form action="">
                <input type="hidden" name="cave" id="cave">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="find">
            <h2>House</h2>
            <p>(earns 2-5 gold)</p>
            <form action="">
                <input type="hidden" name="house" id="house">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <div class="find">
            <h2>Casino</h2>
            <p>(earns 0-50 gold)</p>
            <form action="">
                <input type="hidden" name="casino" id="casino">
                <input type="submit" value="Find Gold!">
            </form>
        </div>
        <p>Activities</p>
        <div id="log">

        </div>
    </body>
</html>