<div class="container">
    <h1>Quotes</h1>
    <hr>
    @foreach (var comment in ViewBag.result) {
        <div>
            <hr>
            <p class="text-right">@comment["created_at"]</p>
            <p>@comment["comment"]</p>
            <p class="text-right">--@comment["name"]</p>
        </div>
    }
</div>