<html>
<body>
    <h2>Here Here</h2>
    <form action='/users' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
    
</body>
</html>