<!--The content below is only a placeholder and can be replaced.-->
<div class="root">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<!--<p *ngFor="let task of tasks">{{ task.title }}</p>
<h1> {{ tasks }}</h1>
tasks[task].title-->

<h1>New Task</h1>
<form (submit)="createTask()" class="postForm">
    <p>{{task | json}}</p>
    <input type="text" name="task.title" [(ngModel)]="task.title">
    <input type="text" name="task.description" [(ngModel)]="task.description">
    <input type="submit" value="Create Task">
</form>

<br>

<div *ngIf="tasks.length > 0">
<h1>For loop of tasks in an Unordered List</h1>
<ul *ngFor="let task of tasks">
  <li>Title: {{ task.title }}, Description: {{ task.description }}, ID#: {{ task._id }} || 
    <button (click)="onButtonDeleteTask( task._id )">Delete</button> <button (click)="onButtonBeginUpdateTask( task._id )">Update</button></li>
</ul>
</div>

<button (click)="onButtonGetTasks()">Click to get all tasks</button>

<div *ngIf="updateTask">
    <h1>It Works?</h1>
    <p>{{ updateTask.description }}, , , , {{ updateTask.title }}</p>
    <form (submit)="updatingTask()" class="postForm">
        <p>{{updateTask | json}}</p>
        <input type="text" name="task.title" [(ngModel)]="updateTask.title"  >
        <input type="text" name="task.description" [(ngModel)]="updateTask.description">
        <input type="submit" value="Update Task">
      </form>
</div>

<hr>

<br>

<br>

  <form (submit)="getTask()" class="postForm">
    <p>{{task | json}}</p>
    <input type="text" name="task.title" [(ngModel)]="task.title">
    <input type="submit" value="Get Task">
  </form>

<br>
<div *ngIf="gotTask.length > 0">
  <h1>Task</h1>
  <ul *ngFor="let onetask of gotTask">
    <li>{{ onetask.title }}, {{ onetask.description }}, {{ onetask._id }}</li>
  </ul>
  </div>
<hr>

<br>

<br>

<button (click)="onButtonClick()">Has Click Aqui</button>
<button (click)="onButtonClickParam(5)">Click me!</button>
<button (click)="onButtonClickParams(5, 'hello')">Has Hello Click</button>
<button (click)="onButtonClickEvent($event)">Evento??</button>
</div>

