<html>
    <head>
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>
        <p>-------id Full Name Email Created At Actions </p>
		<ul>
			{% for user in user %}
			<li>{{user.id}}--<a href="/user/{{ user.id }}">{{user.full_name}}</a>--{{user.email}}--{{user.created_at}} 
                <a href="/user/{{ user.id }}">Show</a> ||
                <a href="">Edit</a> ||
                <a href="">Delete</a>
            </li>
			
			{% endfor %}
        </ul>
        <a href="{% url 'create' %}">Add User</a>
    </body>
</html>