@{
    ViewData["Title"] = "Submitted";
}
<h1>Submitted Info:</h1>
<h2>Name:</h2>
<p>@ViewBag.Name</p>
<h2>Location:</h2>
<p>@ViewBag.Location</p>
<h2>Favorite Language:</h2>
<p>@ViewBag.Language</p>
<h2>Comment:</h2>
<p>@ViewBag.Comment</p>
<a href="/">Go Back</a>