* {
    width: 970px;
}
table {
    display: inline-block;
    width: 700px;
}
#userinfo {
    width: 400px;
}
h1 {
    margin-bottom: 0;
}
hr {
    margin: 0 0 30px 0;
    width: 400px;
}
table {
    border: 2px solid black;
}
table th {
    border: 1px solid black;
}
table td {
    width: 10px;
}
p {
    display: inline-block;
    width: 100px;
}
form input{
    display: inline-block;
    width: 150px;
}
.rows {
    display: block;
    margin: 0 50px 0 140px;
}