<html>
    <head>
        <title>Los Putos De Mis Amigos</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h1>Amigos:</h1>
        <br>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Friend Since</th>
            </tr>
            {% for friend in all_friends: %}
            <tr>
                <td> {{ friend['first_name'] }} </td>
                <td> {{ friend['last_name'] }} </td>
                <td> {{ friend['age'] }} </td>
                <td> {{ friend['friend_since'] }} </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h2>Add a Friend:</h2>
        <form action="/add" method="post">
            First Name: <input type="text" name="first_name" id="first_name">
            Last Name: <input type="text" name="last_name" id="last_name">
            Age: <input type="text" name="age" id="age">
            <input type="submit" value="add">
        </form>
    </body>
</html>