@{
    ViewData["Title"] = "Contact";
}
<h1>Contact</h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<ul>
    <li>Name: Jonathan Barragan</li>
    <li>Email: Jmail.com</li>
    <li>Phone #: (888) 888 - 8888</li>
</ul>
