@{
    ViewData["Title"] = "Home Page";
}
<h1>Jonathan Barragan</h1>
<nav>
    <ul>
        <li><a href="/home">Home</a></li><br>
        <li><a href="/projects">Projects</a></li><br>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<h2>
    About Me:
</h2>
<img src="~/images/me.png">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquet erat.
     Aliquam convallis mattis tortor, quis aliquam dolor facilisis id. Curabitur a mi diam.
      Donec accumsan ornare odio at tempor. Pellentesque eu nulla rutrum, posuere odio at, 
      tincidunt mauris. Curabitur gravida elit in velit bibendum auctor. Phasellus sollicitudin,
       massa ut condimentum pharetra, sem velit tincidunt erat, eget viverra velit ex vitae nulla. 
       Donec interdum id nisi ut rhoncus. Morbi tincidunt non tellus nec mollis. Praesent vitae
        turpis sollicitudin lorem dapibus semper. Nam facilisis et velit ac rutrum. Integer ornare
         diam urna, mollis tincidunt mi consequat at. Donec diam lorem, cursus quis magna vel, suscipit
          pulvinar magna. Pellentesque in turpis aliquet, blandit leo at, cursus tellus.
     Suspendisse purus justo, lobortis et rhoncus sit amet, congue sed orci. Nunc dictum imperdiet erat
      quis accumsan.</p>