@{
    ViewData["Title"] = "Projects";
}
<h1>Projects</h1>
<nav>
    <ul>
        <li><a href="/home">Home</a></li><br>
        <li><a href="/projects">Projects</a></li><br>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
<p>Get to adding stuff</p>