<html>
    <head>
        <title>Registrate</title>
    </head>
    <body>
        <h1>Register!</h1>
        <h2>For a whole lot of nothing</h2>
        <form action="/registration" method="post">
            First Name: <input type="text" name="first_name" id="first_name">
            Last Name: <input type="text" name="last_name" id="last_name">
            Username: <input type="text" name="username" id="username">
            Email: <input type="text" name="email" id="email">
            Password: <input type="text" name="password" id="password">
            Confirm Password: <input type="text" name="cpassword" id="cpassword">
            <input type="submit" value="Register">
        </form>
        <br>
        <h1>Login</h1>
        <h2>Already have an account full of nothing?</h2>
        <form action="/login" method="post">
            Username: <input type="text" name="username" id="username">
            Password: <input type="text" name="password" id="password">
            <input type="submit" value="Login">
        </form>
    </body>
</html>